<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Home EJS</title>
  </head>
  <body>
    <h1>hello tien phuc with view engine</h1>
    <img
      src="/image/370291829_194137156872927_7599015329479139290_n.png"
      alt=""
    />
    <p>Message: <%= message %></p>
  </body>
</html>
